@charset "UTF-8";

@font-face{
  font-family:LeagueScript;
  src:url('LeagueScriptNumberOne.woff');
}

body{
  color:#FEA;
  font-family:Calibri, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Arial, Helvetica, sans-serif;
  overflow:hidden;
  background-color:#202020;
  padding:1em 2em;
  line-height: 1.3;
  font-size:14pt;
}
body.detail {
  background-color:rgba(32,32,0,0.1);
  color:black;
  overflow:scroll;
}

h1, .cursive {
  font-family: LeagueScript, cursive;
  text-transform:none;
}
h1 > a {
  text-decoration:none;
}
.cursive {
  font-size:92%;
}

h1 {
  display:none;
  margin:0;
}
body.detail h1{
  display:block;
}
body.detail h1 a{
  display:inline-block;
  padding: 0.45em 0.6em 0.3em 0.7em;
  background-color:rgba(32,32,16,0.8);
  color:#FEA;
  border-radius:5px;
}


body.detail nav{
  display:none;
}
p {
  margin-bottom:0.6em;
  margin-top:0.6em;
}
.space-above {
  margin-top:2em;
}
nav {
  margin:0.5em 0;
  color: #888;
}
nav > ul {
  margin: 0;
  padding:0;
}
nav li {
  display:block;
  margin: 0.2em 0;
  /*color:#FFFAC8;*/
}
div.full p{
  width:100%;
}
main{
  position:absolute;
  bottom:2em;
  left:2em;
  background-color:rgba(96, 96, 96, 0.7);
  width:35%;
  height:55%;
  min-width:14em;
  max-width:400px;
  min-height:6em;
  border-radius:16px;
  padding:0.3em 1.1em 1.1em 1.1em;
  
  z-index: 1;
}

main div {
  overflow-y: auto;
  max-height:100%;
  max-width:95%;
}

img.bg{
  height:116%;
  min-width:40em;
  position:fixed;
  top:-40px;
  left:0;
  z-index:-1;
}
body.detail img.bg {
  opacity:0.1;
}

body.detail p.link a {
  color:#875;
  font-weight:bold;
}

p.link img {
  vertical-align:top;
  margin-left:1em;
}

main h2 {
  font-size: 120%;
  font-weight: 500;
  margin-top:0.7em;
  margin-bottom: 0.4em;
  text-transform:uppercase;
}
main h3 {
  font-size: 115%;
  font-weight: 500;
  margin-top:0.6em;
  margin-bottom: 0.3em;
}

a {
  font-weight: normal;
  color: #888;
  text-decoration:underline;
  }
nav a {
  text-decoration:none;
}
main a {
  color:#FEA;
}
main a:hover {
  color:#FFFAC8;
}
a:hover {
  color:#AAA;
}
p.home {
  position:absolute;
  top:0.5em;
  right:0.8em;
  display:inline-block;
}
p.home a {
  z-index:2;
  text-decoration:none;
  color:#ccc;
}


.caption {
  display:none;
}
figure.hidden {
  display:none;
}

.lightbox figure img, img.preview {
  max-width:6em;
} 

figure {
  display: inline-block;
  margin:0.5em 1em 0.5em 0;
}

#lg-gallery .caption {
  display:block;
}

#lg-gallery figcaption{
  color:white;
  z-index:1;
  position:fixed;
  top:1em;
  left:10%;
  width:80%;
  background-color: rgba(96,96,96,0.4);
}

#lg-gallery figcaption p {
  white-space:normal;
}
#lg-gallery a {
  text-decoration:none;
}

#lg-action {
  /*top:20px;*/
}

#lg-slider .lg-slide img {
  /*max-height:80%;*/
}

@media screen and (orientation:portrait) {
  img.bg{
    height:auto;
    max-height:100%;
    min-width:8em;
    left:-250px;
    top:0;
    position:absolute;
  }
  main, section{
    bottom:1em;
    left:1em;
    width:auto;
    height:60%;
    min-width:8em;
    max-width:75%;
    min-height:6em;
    padding-right:2em;
 }
  body{
    padding:0.5em 1em;
  }
}
